{% extends 'base.html' %}

{% block content %}

<div>new</div>
<h1 class="blue-text text-darken-2">Почему подросткам стоит изучать программирование?</h1>
<div>
    Объясняем почему словосочетание «программирование для подростков» не должно вызывать
    скептическую улыбку и какие полезные навыки приобретают ребята, изучая программирование.
</div>

<a class="btn blue darken-2">Читать</a>

<hr>

<h3 class="blue-text text-darken-2">Другие статьи</h3>

{% for obj in object_list %}
{% if forloop.counter0|divisibleby:"3" %}
    <div class="row">
{% endif %}
        <div class="col s4">
    <div class="card white"><div class="card-content">

            <div>28/05/2002</div>
            <img src="{{object_list.0.image.url}}" style="width: 100px; height: 100px;"/>
            <div class="blue-text text-darken-2">Как программирование  развивает привычные  отрасли?</div>
        </div>
    </div></div>
{% if forloop.counter|divisibleby:"3" %}
    </div>
{% endif %}
{% endfor %}
{% endblock %}