{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="row">
    <div class="col m12 s12 l7">
        <h5 class="pink-text">NEW</h5>
        <h3 class="blue-text text-darken-2">Почему подросткам стоит изучать программирование?</h3>
        <div>
            Объясняем почему словосочетание «программирование для подростков» не должно вызывать
            скептическую улыбку и какие полезные навыки приобретают ребята, изучая программирование.
        </div>
    </div>

    <div class="col m12 s12 l5">
        <img style="width: 100%; margin-top: 20px;" src="{% static 'images/robot-books.png' %}" />
    </div>
</div>
<div class="row"><a href="{% url 'post-detail' 1 %}" class="btn blue darken-2" style="margin-top: 20px;">Читать</a></div>

<hr>

<h3 class="blue-text text-darken-2">Другие статьи</h3>

{% if is_paginated %}
    <ul class="pagination">

        {% if page_obj.has_previous %}
            <li class="waves-effect"><a href="{% url 'post-list'%}?page={{page_obj.previous_page_number}}">
                <i class="material-icons">chevron_left</i></a></li>
        {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active"><a href="#">{{i}}</a></li>
            {% else %}
                <li class="waves-effect"><a href="{% url 'post-list' %}?page={{i}}">{{i}}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="waves-effect"><a href="{% url 'post-list'%}?page={{page_obj.next_page_number}}">
                <i class="material-icons">chevron_right</i></a></li>
        {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}

    </ul>
{% endif %}

{% for obj in object_list %}
{% if forloop.counter0|divisibleby:"3" %}
    <div class="row">
{% endif %}
    <div class="col m12 l4">
        <a href="{% url 'post-detail' obj.pk %}">
        <div class="card white"><div class="card-content" style="height: 320px;">
                <div class="grey-text">{{obj.created}}</div>
                <div class="center" style="height: 190px;">
                    <span style="display: inline-block; height: 100%; vertical-align: middle;"></span><img src="{{obj.get_image}}" style="width:100%; max-width:280px; height:auto; vertical-align: middle;" />
                </div>
                <h6 class="blue-text text-darken-2 center" style="position: absolute; bottom: 5px; left: 50%; transform: translateX(-50%);">{{obj.title}}</h6>
            </div></div>
        </a>
    </div>
{% if forloop.counter|divisibleby:"3" %}
    </div>
{% endif %}
{% endfor %}
{% endblock %}